<!-- <!DOCTYPE html>
<html>
<head>
  <title>Verify Your Email</title>
</head>
<body>
  <h1>Welcome, {{name}}</h1>
  <p>Thank you for registering. Please verify your email by clicking the link below:</p>
  <a href="{{verificationLink}}" style="padding: 10px 20px; background: blue; color: white; text-decoration: none;">Verify Email</a>
  <p>If you did not create this account, please ignore this email.</p>
</body>
</html> -->


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Welcome <%= name %> </title>
    <!-- Favicon -->
    <link rel="icon" href="assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="assets/css/argon.css?v=1.2.0" type="text/css">


</head>

<body style="width:100%; font-family: Arial; height:100%; background:#F0F0F0; color: #191b1f;">
    <table cellspacing="0" cellpadding="0" width="800"
        style="background-color: #fff;padding: 0;border-collapse:collapse;margin: 0 auto; " border="0">
        <tbody>
            <tr>
                <td height="30"></td>
            </tr>
            <tr>
                <td class="theme_logo" style="text-align: center;padding: 0 40px;">
                    <img src="<%= logo %>" alt="ReachMate logo" style="width: 270px;" />
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td style="padding: 0 40px;font-size: 17px;line-height: 25px; "><b>Hi <%= name %>!
                    </b>
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td style="padding: 0 40px;font-size: 17px;line-height: 25px; ">Thank you for signing up with Rechmate To complete your registration and activate your account, please verify your email address by clicking the link below:</td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td style="padding: 0 40px;font-size: 17px;line-height: 25px; ">
                    <!-- <a href="https://reachmate.app/" target="_blank" rel="noopener noreferrer"> https://reachmate.app/</a> -->
                    <a href="<%= verification_link %>" target="_blank" rel="noopener noreferrer"
                    style="padding: 10px 20px; background: blue; color: white; text-decoration: none;">Verify Email</a>
                </td>
            </tr>
            <tr>
                <td height="40"></td>
            </tr>
            <tr>
                <td style="padding: 0 40px;font-size: 17px;line-height: 25px; ">Once you click on the link, you will be
                    directed to a page where you can complete the account creation process. Please ensure that you
                    provide accurate information to expedite the setup process.</td>
            </tr>
            <tr>
                <td height="10"></td>
            </tr>
            <tr>
                <td style="padding: 0 40px;font-size: 17px;line-height: 25px; ">Thank you for choosing ReachMate. We look forward to having you on board!</td>
            </tr>
            <tr>
                <td style="padding: 0px 40px;font-size: 17px;line-height: 25px; ">ReachMate Team
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td height="40" style="border-bottom: 1px #ddd solid;"></td>
            </tr>
            <tr>
                <td height="15" style="background-color: #ef7f1a;"></td>
            </tr>
            <tr>
                <td style="text-align: center;color: #fff;font-size: 14px;background-color: #ef7f1a;">Copyright © <%=
                    new Date().getFullYear();%>, ReachMate All Rights Reserved. 
                </td>
            </tr>
            <tr>
                <td height="15" style="background-color: #ef7f1a;"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
